﻿@model EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperAnnuation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperAnnuation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStartDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Home", "Index")
</p>
