﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New Employee", "AddEmployee")
<br />
<br />

@Html.ActionLink("Display All Employees", "ShowAllEmployees")




