﻿@model IEnumerable<EmployeeManagement.Models.Employee>

@{
    ViewBag.Title = "ShowAllEmployees";
}

<h2>ShowAllEmployees</h2>

<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperAnnuation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSalaryDrawnUntil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperAnnuation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastSalaryDrawnUntil)
        </td>
        <td>
            @Html.ActionLink("Show PaySlips", "ShowPayslips", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Genarate next Payslip", "ProcessNextPay", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
