﻿@model IEnumerable<EmployeeManagement.Models.PaySlip>

@{
    ViewBag.Title = "ShowPaySlips";
}

<h2>ShowPaySlips</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperAnnuation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperAnnuation)
        </td>
    </tr>
}
    @Html.ActionLink("Home", "ShowAllEmployees")

</table>
